#title-panel {
  display: grid;
  grid-template-columns: 150px auto;
  column-gap: 20px;
  padding: 10px 0;
}

img#mainPicture {
  grid-row-start: 1;
  grid-row-end: 3;
}

#title-panel p {
  grid-column: 2;
}

.row.options-top-bar {
  box-shadow: inset 0 5px 5px -2px #0005;
  padding: 25px 0 10px 0;
  border-radius: 0 0 8px 8px;
  background-color: #f5f5f5;
}

.flow-row > div {
  width: 600px;
}

.gene-input-group {
  display: flex;
  align-items: baseline;
}

.gene-input-group input {
  border-radius: 4px 0 0 4px;
  box-shadow: inset -2px 1px 5px rgba(0,0,0,.075);
}

.gene-input-group .selectize-input.items.full.has-options.has-items {
  border-radius: 0 4px 4px 0;
}

.gene-input-group .form-group.shiny-input-container {
  margin-bottom: -12px;
}

#in\.spatial\.gene + .selectize-control.multi .selectize-input div.item:nth-child(1) {
  background-color: #E41A1C;
  color: white;
}

#in\.spatial\.gene + .selectize-control.multi .selectize-input div.item:nth-child(2) {
  background-color: #377EB8;
  color: white;
}

#in\.spatial\.gene + .selectize-control.multi .selectize-input div.item:nth-child(3) {
  background-color: #4DAF4A;
  color: white;
}

#in\.spatial\.gene + .selectize-control.multi .selectize-input div.item:nth-child(4) {
  background-color: #984EA3;
  color: white;
}

#in\.spatial\.gene + .selectize-control.multi .selectize-input div.item:nth-child(5) {
  background-color: #000000;
  color: white;
}

#in\.spatial\.gene + .selectize-control.multi .selectize-input div.item.active {
  background-color: #ddd;
  color: black;
}

#ms\.gene\.message {
  color: darkred;
}